.main {
  .nav_wrap {
    .nav {
      padding: 5rpx 0;
      white-space: nowrap;
      .nav_item {
        display: inline-block;
        padding: 20rpx 45rpx;
        font-size: 30rpx;
       
      }
      .active {
        border-bottom: 5rpx solid var(--themeColor);
      }
    }
  }
  .index_swiper {
    height: 220rpx;
    swiper-item {
      image {
        width: 100%;
      }
    }
  }
}